.container {
	font-size: 13px;
	width: 85%;
	margin: 0 auto;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	padding: 8px 0;
	text-align: left;
	border-bottom: 0.0625rem solid var(--text-color);
	color: inherit;
	cursor: pointer;
	text-transform: uppercase;
}

.content {
	position: relative;
	overflow: hidden;
	transition: height 0.35s, scroll 2s;
	width: 100%;
}

.inner {
	position: absolute;
	padding: 1rem;
	font-size: 12px;
	font-weight: 700;
	width: 100%;
}
.inner table {
	width: 100%;
	border-spacing: 4px;
}
.inner table th {
	/* font-weight: ; */
}
.inner table td {
	font-weight: 300;
	font-size: 11px;
}
