@font-face {
	font-family: 'Limerick-Serial-Heavy-Regular';
	src: url(../public/fonts/limerick-serial-heavy-regular.ttf);
}
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 24px;
	transition: color 0.5s, background-color 0.5s;
	font-family: futura-pt, sans-serif;
	font-weight: 900;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
/*  */
a {
	color: inherit;
	text-decoration: none;
}
ul {
	list-style: none;
}
img,
svg,
video {
	max-width: 100%;
	height: auto;
}
.noBtnStyles {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/* newsletter  */
.newsletter-wrapper {
	background: var(--text-color);
	color: var(--bg-color);
	text-align: center;
	padding: 0.625rem;
}
.newsletter-wrapper p {
	font-weight: 800;
	font-size: 12px;
}
.newsletter-wrapper p:hover {
	cursor: pointer;
	text-decoration: underline;
}

/* header */
header {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 40px 40px 30px;
}

.nav-ctn {
	flex-grow: 1;
	display: flex;
	text-transform: uppercase;
	justify-content: space-around;
	align-items: center;
}
.nav-ctn > * {
	text-transform: uppercase;
}
.header-nav-item {
	cursor: pointer;
}
.header-nav-item:hover {
	text-decoration: underline;
}
.header-cart-item {
	cursor: pointer;
}
.center a svg {
	width: 380px;
}
.login-btn {
	text-decoration: none;
}
/* carousel home */
.carousel-wrapper {
	padding: 0 25px;
	margin: 25px 0;
}
.carousel-products-ctn {
	display: flex;
	overflow-x: auto;
	-ms-overflow-style: none; /* Internet Explorer 10+ */
	scrollbar-width: none; /* Firefox */
}

.carousel-products-ctn::-webkit-scrollbar {
	display: none; /* Safari and Chrome */
}
.carousel-product {
	padding-left: 25px;
	min-width: 35%;
	height: 530px;
	overflow: hidden;
}
.carousel-product:first-of-type {
	padding-left: 0;
}
/* footer */
.footer-page {
	text-align: center;
	font-size: 11px;
	cursor: default;
	margin-top: 75px;
	padding-bottom: 20px;
}
.footer-links {
	margin-bottom: 40px;
	text-transform: uppercase;
}
footer ul {
	display: flex;
	justify-content: center;
}
footer ul li {
	margin: 0 10px;
}
footer ul li:hover {
	text-decoration: underline;
}
/*  */
.products-wrapper {
	width: 70%;
	margin: 0 auto;
	text-align: center;
}
.products-header-nav {
	display: flex;
	justify-content: space-between;
	padding: 5px 0;
	margin-bottom: 10px;
}
.products-ctnn {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	justify-items: center;
	/* text-align: center; */
}

/*  */
.product-card-ctn {
	height: 360px;
	position: relative;
	width: 290px;
	margin-bottom: 30px;

	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: opacity 1.5s, transform 1.5s, filter 1s;
}

.product-card__image {
	overflow: hidden;
	height: 100%;
}
.product-card-title {
	position: absolute;
	height: 100%;
	background-color: var(--bg-hover);
	top: 0;
	opacity: 0.4;
	display: grid;
	place-content: center;
	font-size: 24px;
	width: 100%;
	opacity: 0;
	color: transparent;
	font-weight: 900;
	transition: color 0.2s ease-in-out;
	text-align: center;
	text-transform: uppercase;
}
.product-card-icon {
	opacity: 0;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 38px;
	height: 38px;

	color: #000;
}
.product-card-icon svg {
	width: 100%;
	height: 100%;
}
.product-card-ctn:hover .product-card-title,
.product-card-ctn:hover .product-card-icon {
	opacity: 1;
	color: var(--text-color);
}
.product-card-ctn:hover {
	border: 0.0625rem solid var(--text-color);
	transition: border 0.2s ease-in-out;
}
/* detailed prod */
.detail-wrapper {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.det-prod-title {
	font-size: 32px;
	font-weight: 800;
	text-transform: capitalize;
}
.detail-ctn {
	width: 80%;
	margin: 0 auto;
}

.product-detail-desc {
	margin: 0 auto;
	margin-top: 20px;
	font-size: 12px;
	width: 85%;

	font-weight: 700;
}
.small {
	font-size: 12px;
	font-weight: 700;
	margin: 5px;
	margin-bottom: 15px;
	text-decoration: underline;
}
.detail-price {
	font-size: 24px;
	font-weight: 900;
	margin-top: 10px;
}
/*  */
.totop {
	position: fixed;
	/* color: #617073; */
	font-size: 35px;
	bottom: 10px;
	right: 10px;
	margin: 10px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.8s;
	background: none;
	border: none;
	transform: rotate(325deg);
	width: 41px;
	height: 41px;
	z-index: 50;
}

.show {
	opacity: 1;
}
/*  */
.showIntersecting {
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}
/*  */
.shop-nav-container {
	text-align: center;
	margin-bottom: 40px;
	display: grid;
	grid-column-start: 1;
	grid-column-end: 4;
}
.shop-nav-container ul li {
	display: inline-block;
	margin: 0 20px;
	text-transform: uppercase;
	font-size: 18px;
}
.shop-nav-container ul li a:hover {
	border-bottom: 1px solid var(--text-color);
}
/*  */
.loader {
	width: 34px;
	height: 34px;
	animation: rotation 1s infinite linear;
	margin: 0 auto;
}

@keyframes rotation {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(359deg);
	}
}
/* cart */

.cart-wrapper {
	position: fixed;
	transform: translateX(500px);
	height: 100vh;
	width: 300px;
	right: 0;
	top: 0;
	background-color: var(--bg-color);
	opacity: 0;
	visibility: hidden;
	transition: opacity, visibility, transform 2s;
	color: var(--text-color);
	display: grid;
	z-index: 100;
	grid-template-rows: repeat(3, 10% 78% 12%);
	font-size: 12px;
	border-left: 1px solid var(--text-color);
}
.cart-wrapper.is-open {
	right: 0;
	transform: translateX(0);
	opacity: 1;
	visibility: visible;
}
.cart-wrapper.is-close {
	right: 0;
	transform: translateX(-10);
	opacity: 1;
	visibility: visible;
}
.cart-wrapper .title {
	padding: 20px 10px;
	text-transform: uppercase;
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.cart-close-btn {
	cursor: pointer;
}
.cart-products-ctn {
	padding: 0 1em;
	overflow: auto;
}
.cart-products-ctn::-webkit-scrollbar {
	width: 15px;
}

.cart-products-ctn::-webkit-scrollbar-thumb {
	border: 4px solid transparent;
	background-clip: padding-box;
	border-radius: 9999px;
	background-color: #aaa;
}

.cart-products-ctn::-webkit-scrollbar-track {
	background-color: #fff;
}
.cart-button {
	background-color: var(--bg-color);
	border: 0.5px solid var(--text-color);
	padding: 2px 4px;
	cursor: pointer;
	color: inherit;
}
.cart-button:disabled {
	color: var(--bg-color);
	background-color: #aaa;
}
.cart-button.delete {
	margin-left: 15px;
}
.cart-empty {
	font-size: 11px;
	display: block;
	font-weight: 400;
}
.prod-cart-actions-ctn {
	margin: 5px 0;
}
.final-price-one-prod {
	font-size: 12px;
}
.cart-subtotal-row {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px;

	font-weight: 600;
}
.cart-wrapper .buy-btn {
	padding: 0 1em;
}
.cart-wrapper .buy-btn button {
	width: 100%;
}
.prod-cart-ctn {
	border-top: 1px solid var(--text-color);
	padding: 10px 0;
	display: flex;
	gap: 20px;
}
.prod-cart-ctn:last-child {
	border-bottom: 1px solid var(--text-color);
}
.prod-cart-img-ctn {
	height: 100px;
	width: 100px;
	position: relative;
}
.prod-cart-img-ctn img {
	object-fit: cover;
	position: absolute;
	height: 100%;
	width: 100%;
}
.prod-cart-info-ctn {
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.prod-cart-info-ctn h5 {
	font-weight: 800;
	font-size: 9px;
	/* cursor: default; */
}
.prod-cart-quantity {
	margin: 0 5px;
}
.prod-cart-info-ctn h5:hover {
	text-decoration: underline;
}
/*  */

.splide__pagination__page {
	background: transparent !important;
	border: 1px solid var(--bg-color) !important;
	opacity: 1 !important;
	width: 11px !important;
	height: 11px !important;
	margin-right: 5px !important;
}
.splide__pagination__page.is-active {
	background: var(--text-color) !important;
	transform: scale(1.4) !important;
}
.splide.Slider_Splide_carouselWrapper__T5ola.is-overflow.is-initialized.splide--slide.splide--ltr.splide--draggable.is-active {
	width: 450px !important;
	margin: 0 auto !important;
	height: 550px !important;
	position: relative !important;
	margin-top: 25px !important;
}
.splide__track.splide__track--slide.splide__track--ltr.splide__track--draggable {
	height: inherit !important;
}
.splide__list {
	height: inherit !important;
}
.splide__slide.Slider_Splide_carouselCtn__JuoQ2.is-active.is-visible {
	height: inherit !important;
}
.splide__slide.Slider_Splide_carouselCtn__JuoQ2.is-active.is-visible img,
.splide__slide img {
	position: absolute !important;
	object-fit: cover !important;
	height: 100% !important;
	width: 100% !important;
	left: 0 !important;
	font-size: 10px;
	color: var(--text-color);
	text-align: left;
}
/*  */
.styled-input {
	padding: 0.5rem 5px;
	background-color: var(--bg-color);
	border: 1px solid var(--text-color);
	color: var(--text-color);
	outline: none;
	margin-right: 5px;
}

.styled-input::placeholder {
	color: #aaa;
}
/*  */
.marquee {
	height: 26px;
	width: 100%;
	overflow: hidden;
	position: absolute;
	bottom: 0px;
	background-color: var(--text-color);
	color: var(--bg-color);
}

.marquee div {
	display: block;
	width: 200%;
	height: 30px;

	position: absolute;
	overflow: hidden;

	animation: marquee 2.5s linear infinite;
}

.marquee span {
	float: left;
	width: 50%;
	font-size: 18px;
}

@keyframes marquee {
	0% {
		left: 0;
	}
	100% {
		left: -100%;
	}
}
.mobileHeader {
	height: 100vh;
	width: 100vw;
	position: fixed;
	z-index: 60;
	background-color: var(--bg-color);
	left: 0;
	top: 0;
	bottom: 0;
	padding: 20px;

	align-items: center;
	justify-content: center;
}
.mobile-header-links-ctn {
	text-align: center;
	width: 100%;
}

.mobile-header-links-ctn a,
.mobile-header-links-ctn button {
	padding: 20px 0px;
	display: block;
	font-weight: 400;
	text-transform: uppercase;
	margin: 0px 25px;
	letter-spacing: 2px;
	transition: opacity 0.5s;
	margin: 0 auto;
}
.mobile-header-links-ctn a,
.mobile-header-links-ctn button {
	opacity: 0.8;
}
.none {
	display: none;
}
@media only screen and (min-width: 320px) and (max-width: 675px) {
	.carousel-products-ctn {
		display: block;
		overflow: scroll;
	}
	.carousel-product,
	.carousel-product:first-of-type {
		padding: 0;
	}
	.mobileHeader {
		display: flex;
	}

	header {
		padding: 40px 5px;
		font-size: 14px;
	}

	.products-header-nav {
		display: flex;
		flex-direction: column;
	}
	.products-header-btn-actions-ctn {
		display: flex;
	}
	.detail-wrapper,
	.detail-ctn {
		width: 100%;
	}
	.splide.Slider_Splide_carouselWrapper__T5ola.is-overflow.is-initialized.splide--slide.splide--ltr.splide--draggable.is-active {
		width: 85% !important;
	}
	.products-wrapper {
		width: 90%;
	}
	.products-header-btn-actions-ctn {
		margin-bottom: 10px;
	}
	.header-nav-item.login-btn {
		margin: 0;
	}
}
@media only screen and (min-width: 676px) and (max-width: 768px) {
}
