@font-face {
	font-family: 'Limerick-Serial-Heavy-Regular';
	src: url(../public/fonts/limerick-serial-heavy-regular.ttf);
}
html {
	scroll-behavior: smooth;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root {
	/* --bg-color: #1c1c1c; */
	/* --text-color: #dfddfd; */
}
body {
	background-color: var(--bg-color);
	color: var(--text-color);
	font-size: 24px;
	transition: color 0.5s, background-color 0.5s;
	font-family: futura-pt, sans-serif;
	font-weight: 900;
	margin: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
}
/*  */
a {
	color: inherit;
}
ul {
	list-style: none;
}
img {
	max-width: 100%;
	height: auto;
}
.noBtnStyles {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}
/*  */
.newsletter-wrapper {
	background: var(--text-color);
	color: var(--bg-color);
	text-align: center;
	padding: 0.625rem;
}
.newsletter-wrapper p {
	font-weight: 800;
	font-size: 12px;
}
.newsletter-wrapper p:hover {
	cursor: pointer;
	text-decoration: underline;
}
/*  */

/*  */
header nav {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding: 40px;
}

.nav-ctn {
	flex-grow: 1;
	display: flex;
	text-transform: uppercase;
	justify-content: space-around;
	align-items: center;
}
.nav-ctn > * {
	text-transform: uppercase;
}
.header-nav-item {
}
.header-nav-item:hover {
	text-decoration: underline;
	cursor: pointer;
}
.header-cart-item {
	cursor: pointer;
}
.center a svg {
	width: 380px;
}
.login-btn {
	text-decoration: none;
}
/*  */
.carousel-wrapper {
	padding: 0 25px;
	margin: 25px 0;
}
.carousel-products-ctn {
	display: flex;
	overflow-x: auto;
}

.carousel-product {
	padding-left: 25px;
	min-width: 35%;
	height: 530px;
	overflow: hidden;
}
.carousel-product:first-of-type {
	padding-left: 0;
}
/*  */
footer {
	text-align: center;
	font-size: 11px;
	cursor: default;
	margin-top: 75px;
	padding-bottom: 20px;
}
.footer-links {
	margin-bottom: 40px;
	text-transform: uppercase;
}
footer ul {
	display: flex;
	justify-content: center;
}
footer ul li {
	margin: 0 10px;
}
footer ul li:hover {
	text-decoration: underline;
}
/*  */
.products-wrapper {
	width: 70%;
	margin: 0 auto;
}
.products-ctnn {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
	justify-items: center;
}

/*  */
.product-card-ctn {
	height: 360px;
	position: relative;
	width: 290px;
	margin-bottom: 30px;
	/* margin-bottom: 10px; */
	opacity: 0;
	filter: blur(5px);
	transform: translateX(-100%);
	transition: opacity 2s, transform 2s, filter 1s;
}
.product-card__image {
	overflow: hidden;
	height: 100%;
}
.product-card-title {
	position: absolute;
	height: 100%;
	background-color: var(--bg-hover);
	top: 0;
	opacity: 0.4;
	display: grid;
	place-content: center;
	font-size: 24px;
	width: 100%;
	opacity: 0;
	color: transparent;
	font-weight: 900;
	transition: color 0.2s ease-in-out;
}
.product-card-icon {
	opacity: 0;
	position: absolute;
	right: 10px;
	top: 10px;
	width: 38px;
	height: 38px;

	color: #000;
}
.product-card-icon svg {
	width: 100%;
	height: 100%;
}
.product-card-ctn:hover .product-card-title,
.product-card-ctn:hover .product-card-icon {
	opacity: 1;
	color: var(--text-color);
}
.product-card-ctn:hover {
	border: 0.0625rem solid var(--text-color);
	transition: border 0.2s ease-in-out;
}
/*  */
.detail-wrapper {
	width: 50%;
	margin: 0 auto;
	text-align: center;
}
.gallery-img-ctn {
	width: 450px;
	height: 550px;
	margin: 0 auto;
	margin-top: 50px;
}
.gallery-img {
	height: 100%;
}
.product-detail-desc {
	font-size: 12px;

	width: 85%;
	margin: 0 auto;
	margin-top: 20px;
}
/*  */
.totop {
	position: fixed;
	/* color: #617073; */
	font-size: 35px;
	bottom: 0;
	right: 0;
	margin: 10px;
	cursor: pointer;
	opacity: 0;
	transition: opacity 0.8s;
}
.show {
	opacity: 1;
}
/*  */
.showIntersecting {
	padding: 3px;
	background-color: red;
	opacity: 1;
	filter: blur(0);
	transform: translateX(0);
}
