.popupwrapper {
	position: fixed;
	z-index: 999;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
	background-color: rgba(0, 0, 0, 0.75);
	display: none;
	justify-content: center;
	align-items: center;
}
.popupwrapper.isOpen {
	display: flex;
}
.popupCtn {
	position: relative;
	padding: 2rem;
	min-width: 320px;
	max-width: 480px;
	min-height: 200px;
	max-height: 600px;
	overflow-y: auto;
	background-color: var(--bg-color);
	color: var(--text-color);
}
.popupModalClose {
	display: flex;
	justify-content: flex-end;
	margin-bottom: 10px;
}
.popupModalClose button {
	cursor: pointer;
	padding: 10px 15px;
}
